/* radix-styles.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 1rem;
}

.navbar-link,a {
  color: white;
  text-decoration: none;
  color: inherit; /* Para heredar el color del texto circundante */
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-username {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.nameDivider {
  margin-right: 10px;
}
