body {
  overflow: hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.scroll-area-root {
  width: 100%;
  height: 100%;
}

.scroll-area-viewport {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 100px;
  overflow: auto;
}

.scroll-area-scrollbar {
  display: flex;
  touch-action: none;
  padding: 2px;
  background: rgba(0, 0, 0, 0.1);
  transition: background 160ms ease-out;
}

.scroll-area-scrollbar[orientation="vertical"] {
  width: 10px;
}

.scroll-area-scrollbar[orientation="horizontal"] {
  flex-direction: column;
  height: 10px;
}

.scroll-area-thumb {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
}

.scroll-area-corner {
  background: rgba(0, 0, 0, 0.1);
}

.main-content {
  /* margin: 20px; */
  width: 100%;
  height: 100%;
  background-color: #1e2029;
  /* background-image: url('./assets/cafebg.jpg') no-repeat center center; */
  /* background: linear-gradient(to bottom, #241306ab, #391e02, #160c01); */
}

.noShow {
  display: none!important;
}

/* .main-content:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/cafebg.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.1; 
  z-index: 9999;
} */
